
<h2 class="title center"> <%= current_user.firstname %>'s Councils </h2>
<div class="page-center" id='council_form'>
  <%= render partial: 'form' , locals: {council: Council.new}%>
  <div id="councils_list">
    <% @councils.each do |council| %>
      <h4 class="center"><%= link_to council.council_name, council_path(council) %></h4><br>
    <% end %>
  </div>
</div>
<a href="/questions/new"><div class="btn btn-logo"></div></a>

<script type="text/javascript">
  $("#council_form form").on('submit', function(event) {
    event.preventDefault();
    var data = $(this).serialize();
    $.ajax('/councils', {
      data: data,
      type: 'POST'
    })
      .then(function(response) {
         $( "#councils_list" ).prepend( "<h4 class='center'><a href=/councils/"+response.id+ ">" + response.council_name +"</a></h4><br>" );
      })
  } )
</script>
