<div class="council_container">
  <h2> <%= @council.council_name %></h2>

  <div id='council_membership_form'>
    <%= render partial: '/council_memberships/form' , locals: {council_membership: CouncilMembership.new}%>
  </div>
  <div id='council_member'>
    <ul class='member_list'>
    <% @council.members.each do |member| %>
      <li>
        <%= member.firstname %><%= member.lastname %>
      </li>
    <% end %>
    </ul>
  </div>

</div>