<!-- background images on this page -->

<h3 id="welcome-text">Welcome<br> to<br><span class="logo-title">Council</span></h3>
<!-- this text will only appear when form is toggle display: none -->

<div id="login-form">
  <%= render partial: 'sessions/new', locals: {user: @user} %>
</div>
<div id="sign-up-form">
  <%= render partial: 'users/new', locals: {user: @user} %>
</div>

<div class="center">
  <button id="login-btn">Login</button>
  <button id="sign-up-btn">Sign Up</button>
</div>


