<h3>Welcome to <span class="logo-title">Council</span></h3>



<button id="login-btn">Login</button>
<button id="sign-up-btn">Sign Up</button>
<div id="login-form">
  <%= render partial: 'sessions/new', locals: {user: @user} %>
</div>
<div id="sign-up-form">
<%= render partial: 'users/new', locals: {user: @user} %></div>