<h2> This is the list of others' answers to your questions </h2>

<!-- t.belongs_to :question, null: false
      t.belongs_to :user, null: false
      t.boolean :like, null: false
 -->

<div class="list_answers">
  <% @answers.each do |answer| %>
    <div class="answer">
      <div class="swipe">
        <% if swipe == true %> 
        <% end %>
      </div>
  <% end %>
</div>  
      