<div class = "invite_list"
<ul>
  <% @invites.each do |invite| %>
      <li>
        <%= link_to "#{invite.user.firstname} #{invite.user.lastname}", friendship_path(invite) %>
      </li>
  <% end %>
</ul>
</div>