<div class = "friend_list">
  <p> Your Friends:</p>
  <table>
    <% @friendships.each do |friendship| %>
      <% if friendship.status %>
        <tr>
          <td><%= friendship.friend.firstname %></td>
          <td> <%= friendship.friend.lastname %></td>
          <td><%= link_to 'delete', friendship_path(friendship), :method => :delete %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>