.button {
	background-color: red;
}

.logo-title {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  position: relative;
  vertical-align: middle;
}

.votes {
  margin-left: 3px;
  padding: 3px;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}



#new_answer {
  display:none;
}


.nav > li {
  position: relative;
  display: inline-block;
}


.glyphicon {
  font-size: 20px;
}


#login-form {
  display: none;
}

#sign-up-form {
  display: none;
}

.prof_page{
  text-align: center;
}

.navbar-fixed-top {
    height: 70px; /* Whatever you want. */
}


table{

  text-align: center;
}

td{
  padding: 5px 0;
  border-bottom: 1px solid black;
}

th{
  font-size: 22px;
  text-align: center;
}

#questions-list{

}

