.button {
  background-color: red;
}

.logo-title {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  position: relative;
  vertical-align: middle;
  color: white;
  text-align: center;
  /*background-color: #1EA49D;*/
}

.navybar{
  position: fixed;
  top: 0;
  width: 100%;
  bottom-padding:20px;
  background-color: #1EA49D;
  color: white;
  height: 48px;
  line-height: 48px;
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  text-align: center;
}

.navybar a {
  color: white;
}

.content{
  margin-top: 48px;
}


.nav_lft{
  position: absolute;
  left:0; top: 0; bottom: 0;
  padding-left: 5px;
}

.nav_rt{
  position: absolute;
  right:0; top: 0; bottom: 0;
  padding-right: 5px;
  right:0; top: 0; bottom: 0;
  /*padding: 5px;*/
}


.votes {
  margin-left: 3px;
  padding: 8px;
  color: white;
  line-height: 50px;
  height: 50px;
  width: 50px;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: #1ea49d;
  border-radius: 50px;
  text-align: center;
}

.red {
  background-color: red;
  border-radius: 20px;
  text-align: center;
}

.blue {
  background-color: blue;
}

.hearts{
  width: 7px;
  height: 10px;
  font: bold;
}

#new_answer {
  display:none;
}


.nav > li {
  position: relative;
  display: inline-block;
}


.glyphicon {
  font-size: 20px;
}

#login-form {
  display: none;
  color: white;
}

#login-form input {
  color: black;
}

#login-form input[type="submit"] {
  background-color: Transparent;
  color: white;
  border: solid white 2px;
}

#login-form input {
  margin: 5px;
}

#login-btn {
  display: inline-block;
  background-color: Transparent;
  color: white;
  border: solid white 2px;
  padding: 0 10px;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
}

#sign-up-btn {
  display: inline-block;
  background-color: Transparent;
  color: white;
  border: solid white 2px;
  padding: 0 10px;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
}

.welcome_flash_error{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  border: solid 2px white;
  padding: 5px 10px;
}

#sign-up-form {
  display: none;
  color: white;
}

#sign-up-form input {
  margin: 5px;
}

#sign-up-form input[type="submit"] {
  background-color: Transparent;
  color: white;
  border: solid white 2px;
}

#sign-up-form input {
  color: black;
}

.prof_page{
  text-align: center;
}

.navbar-fixed-top {
    height: 70px; /* Whatever you want. */
}


table{
  text-align: center;
}

td{
  padding: 5px 0;
  border-bottom: 1px solid black;
}

th{
  font-size: 22px;
  text-align: center;
}


#welcome-text {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  display: block;
  color: white;
  z-index: 1;
  position: relative;
}

.center {
  text-align: center;
}

.container{
  margin: 0 auto;
  width: 70%;
}

#rotating-item-wrapper {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.rotating-item {
    display: none;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.large {
  font-size: 50px;
}

.viewport-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#uploaded-img {
  height: 300px;
  display: none;
}

#new_question {
  margin-top: 20px;
}

#new_question input {
  margin: 10px;
}

#add_photo_btn {
  margin: 10px;
}

.page-center {
  display: table;
  margin: 0 auto;
}

.show-votes {
  color:white;
  width: 20px;
  height: 30px;
  padding: 5px 10px;
  text-align: center;
}

.btn.btn-lg.btn-success{
  position: fixed;
  right:0;
  bottom:0;
  background-color: black;
}

.btn.btn-logo{
  position: fixed;
  left: 50%;
  bottom: 0;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  border: solid white 2px;
  background-image: url("/myicon.png");
  background-size: 80px 80px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 2.0);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.btn.btn-logo  img {
  width: 20px;
  height: 20px;
  border: thin solid blue;
}

.answer {
  display: block;
  position: absolute;
  left: 0; right: 0; top: 0;
  /*border: thin solid fuchsia;*/
}

h5 span{
  color: black;
  font: bold 25px/55px Josefin Sans, Sans-Serif;
  letter-spacing: -1px;
}



.image{
  position: relative;
  width: 100%; /* for IE 6 */
}

.prof_container{
  bottom-margin: 10px;
  width: 100%;
  position: relative;
}

.img_preview {
  border: 0;
  margin-bottom: 10px;
}

votes green,votes red,votes yellow{
  size: 100px;
}

.hidden {
  display: none;
}

#flash_notice {
  border: solid 2px black;
  padding: 5px;
  display: table;
  margin: 0 auto;
  margin-top: 70px;
}

.notice {
  border: solid 2px black;
  padding: 5px;
  display: table;
  margin: 0 auto;
  margin-top: 70px;
}

.question {
  position: relative;
  width: 100%;
}

.question .content {
  color: white;
  text-shadow: 2px 2px black;
}

.question .content > span {
  color: white;
}

.votes {
  width: 25px; height: 25px;
  line-height: 25px;
}

.votes.green {
  position: absolute;
  top: 0; left: 0;
}

.votes.red {
  position: absolute;
  top: 0; right: 0;
}



h5.question_text{
  /*background-color: #39444b;*/
  background-color: #39444b;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin: 0px;
}

.white_icon{
  padding-right: 10px;

}

.navbar{
/*  background-color: #1ea49d;
  background-color: #39444b;*/
}

.vote-swipe {
  width: 300px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

.margin-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button_to {
  text-align: center;
}

.no-members-error {
  border: solid 2px black;
  padding: 5px;
  display: table;
  margin: 0 auto;
  margin-top: 10px;
}

button {
  background-color: Transparent;
  color: black;
  border: solid black 2px;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
}

form input[type="submit"] {
  background-color: Transparent;
  color: black;
  border: solid black 2px;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

form input[type="text"] {
  color: black;
  border: solid black 2px;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}