.button {
	background-color: red;
}

.logo-title {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  position: relative;
  vertical-align: middle;
}

.votes {
  padding: 3px;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}


#new_answer {
  display:none;
}

.nav > li {
  position: relative;
  display: inline-block;
}

.glyphicon {
  font-size: 30px;
}

#login-form {
  display: none;
}

#sign-up-form {
  display: none;
}
